<html>
<head>
    {% load static %}
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
    </style>
</style>

<script async="true" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=AM_CHTML"> </script>
</head>
<body>
<br>
  <p style="color: #00CED1; font: 20px Arial, sans-serif; font-weight: bold;">MATERIAL PROPERTIES</p>
<hr>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">Aluminum Extrusion Profile  </p>
<p style="color: #D06EE1; font: 16px Arial, sans-serif; font-weight: bold;">Alloy type 63400 (H9) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...[As per IS 8147 : part 1 : 1976]</p>


<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 80%">Density:</td>
    <td style=" text-align: left;">&#961;<sub>al</sub> = 27.1 <b style="color: blue;">kN/m<sup>3</sup></b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Modulus of Elasticity:</td>
    <td style=" text-align: left;">E<sub>al</sub> = 65500 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Ultimate Tensile strength:</td>
    <td style=" text-align: left;">f<sub>val</sub> = 190 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Tensile yield strength:</td>
    <td style=" text-align: left;">f<sub>0.2al</sub> = 155 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Limiting bending strength:</td>
    <td style=" text-align: left;">P<sub>bal</sub> = 96 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 60px;">
    <td style="width: 70%">Limiting axial compression/tensile strength:</td>
    <td style=" text-align: left;">P<sub>aal</sub> = 85 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Limiting shear strength:</td>
    <td style=" text-align: left;">P<sub>val</sub> = 51 <b style="color: blue;">MPa</b></td>
  </tr>
</table>
<hr>
<img style="height: 450px; width: 600px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_1.jpg" border="100">
<br>
<br>
<hr>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif; margin-top: 1000px">Mild steel  </p>

<p style="color: #D06EE1; font: 16px Arial, sans-serif; font-weight: bold;">Alloy type : E250 Grade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...[As per IS 800: 2007]</p>


<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 80%">Density:</td>
    <td style=" text-align: left;">&#961;<sub>ms</sub> = 78.5 <b style="color: blue;">kN/m<sup>3</sup></b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Modulus of Elasticity:</td>
    <td style=" text-align: left;">E<sub>ms</sub> = 20000 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Maximum ultimate Strength:</td>
    <td style=" text-align: left;">f<sub>ums</sub> = 410 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Tensile yield strength:</td>
    <td style=" text-align: left;">f<sub>yms</sub> = 250 <b style="color: blue;">MPa</b></td>
  </tr>
</table>
<hr>
<br>
<br>
<br>
<br>
<center>
  <img style="height: 200px; width: 400px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_2.jpg" border="100" alt="centered image">
</center>
<br>
<br>
<br>
<br>
<center>
  <img style="height: 350px; width: 600px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_3.jpg" border="100">
</center>
<hr>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif; margin-top: 1000px">Stainless Steel</p>

<p style="color: #D06EE1; font: 16px Arial, sans-serif; font-weight: bold;">Alloy type : SS-316 Grade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...[As per SCI P291]</p>


<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 80%">Density:</td>
    <td style=" text-align: left;">&#961;<sub>ss</sub> = 80 <b style="color: blue;">kN/m<sup>3</sup></b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Modulus of Elasticity:</td>
    <td style=" text-align: left;">E<sub>ss</sub> = 20000 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Maximum ultimate Strength:</td>
    <td style=" text-align: left;">f<sub>uss</sub> = 520 <b style="color: blue;">MPa</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Tensile yield strength:</td>
    <td style=" text-align: left;">f<sub>yss</sub> = 220 <b style="color: blue;">MPa</b></td>
  </tr>
</table>
<hr>
<br>
<br>
<br>
<br>
<center>
  <img style="height: 250px; width: 400px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_4.jpg" border="100" alt="centered image">
</center>
<br>
<br>
<br>
<br>
<center>
  <img style="height: 350px; width: 550px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_5.jpg" border="100">
</center>

<hr>

<div style="margin-top: 500px;">
<p style="color: #00CED1; font: 20px Arial, sans-serif; font-weight: bold;">LOADING AND PERMISSIBLE DEFLECTION</p>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">Loadings</p>
<p style="font-weight: bold; font: 15px Arial, sans-serif;">Wind load : 1.2 kPa</p>
</div>
<hr>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">Permissible deflection</p>
<p style="font-weight: bold; font: 20px Arial, sans-serif;">Aluminum</p>

<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 35%">Mullion (Wind load):</td>
    <td style=" text-align: left; width: 35%;">L / 175 or 19 mm (MIN)</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 35%">Mullion (Wind load):</td>
    <td style=" text-align: left;">L / 240 + 6.35 mm</td>
    <td style=" text-align: left;">..if L > 4115 mm</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 35%">Transom wind load:</td>
    <td style=" text-align: left;">L / 175 or 19 mm (MIN)</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 35%">Transom dead load:</td>
    <td style=" text-align: left;">L / 500 or 3 mm</td>
  </tr>
</table>
<hr>
<center>
  <img style="height: 550px; width: 450px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_6.jpg" border="100">
</center>
<hr>

<p style="font-weight: bold; font: 20px Arial, sans-serif;">Steel</p>

<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">Lateral:</td>
    <td style=" text-align: left; width: 50%;">L / 360 OR 20 mm (MIN)</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Lateral (cantilever):</td>
    <td style=" text-align: left;">L / 180 OR 20 mm (MIN)</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Longitudinal:</td>
    <td style=" text-align: left;">L / 300 OR 20 mm (MIN)</td>
  </tr>
</table>
<hr>
<center>
  <img style="height: 550px; width: 600px;" src="G:\My Drive\Python\Django\Structures\static\front_page\Table_7.jpg" border="100">
</center>
<hr>

<p style="font-weight: bold; font: 20px Arial, sans-serif;">Glass</p>

<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">SGU / DGU </td>
    <td style=" text-align: left; width: 50%;">L / 90 OR 19 mm (MIN)</td>
  </tr>
</table>
<hr>

<p style="font-weight: bold; font: 20px Arial, sans-serif;">Metal Panel</p>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">Aluminum Sheet: </td>
    <td style=" text-align: left; width: 50%;">L / 90 OR 19 mm (MIN)</td>
  </tr>
</table>
<hr>

</body>
</html>