<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Struct.website</title>
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.struct.website/">Struct.Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/aboutme">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<div class="container" my-2>
  <h3>This is the page for Structural calculations.</h3>
  <h3></h3></div>
<hr>
<br>

<ul class="container font-weight-bold" style="font-size: 20px;" my-2>
  <li><a href="http://127.0.0.1:8000/front_page1">FRONT PAGE</a></li>
  <br>
  <li><a href="http://127.0.0.1:8000/header_page">HEADER PAGE</a></li>
  <br>
  <li><a href="http://127.0.0.1:8000/dead_load">DEAD LOAD</a></li>
  <br>
  <li><a href="http://127.0.0.1:8000/connections">CONNECTIONS</a></li>

  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<li><a href="http://127.0.0.1:8000/knowledgehut_pdf" style="font-size: 20px; ">KNOWLEDGEHUT</a></li>
</ul>

</body>
</html>