<html>
<head>
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
    </style>
</style>
</head>
<body>
<br>
  <p style="color: #00CED1; font: 30px Arial, sans-serif; font-weight: bold;"> INDEX </p>
<hr>


<table style="font: 20px Arial, sans-serif; font-weight: bold; width: 100%">
  <tr>
    <th style="width:10%; color: #D06EE1;">Sr. No.</th>
    <th style="width:65%; color: #D06EE1;">Content</th>
    <th style="width:25%; color: #D06EE1;">Page no.</th>
  </tr>

  <tr style="height: 60px;">
    <td>1</td>
    <td>Content</td>
    <td>2</td>
  </tr>
  <tr style="height: 60px;">
    <td>2</td>
    <td>Project detail</td>
    <td>3</td>
  </tr>
  <tr style="height: 60px;">
    <td>3</td>
    <td>Standard software & references</td>
    <td>4</td>
  </tr>
  <tr style="height: 60px;">
    <td>4</td>
    <td>Material Properties</td>
    <td>5</td>
  </tr>
  <tr style="height: 60px;">
    <td>5</td>
    <td>Loading and Permissible deflection</td>
    <td>8</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a1 }}</td>
    <td>{{ a11 }}</td>
    <td>{{ a12 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a2 }}</td>
    <td>{{ a13 }}</td>
    <td>{{ a14 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a3 }}</td>
    <td>{{ a15 }}</td>
    <td>{{ a16 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a4 }}</td>
    <td>{{ a17 }}</td>
    <td>{{ a18 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a5 }}</td>
    <td>{{ a19 }}</td>
    <td>{{ a20 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a6 }}</td>
    <td>{{ a21 }}</td>
    <td>{{ a22 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a7 }}</td>
    <td>{{ a23 }}</td>
    <td>{{ a24 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a8 }}</td>
    <td>{{ a25 }}</td>
    <td>{{ a26 }}</td>
  </tr>
  <tr style="height: 60px;">
    <td>{{ a9 }}</td>
    <td>{{ a27 }}</td>
    <td>{{ a28 }}</td>
  </tr>






</table>

</body>
</html>