

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Struct.website</title>
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.struct.website/">Struct.Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/aboutme">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container" my-2>
  <h3>Front page for the project</h3>
  <h3></h3></div>
<hr>

<br>
<br>


<form action="front_page">

<div class="container" my-10>
<label class="col-sm-3 col-form-label">Enter the project name</label>
<input type="text" name="num1" id="num1">
</div>

<br>
<div class="container" my-10>
<label class="col-sm-3 col-form-label">Type of structural calculation</label>
<input type="text" name="num2" id="num2">(Case sensitive)
<input type="text" name="num2" id="num2">(Case sensitive)
</div>

<br>

<div class="container" my-10>
<label class="col-sm-3 col-form-label">Revision NO.</label>
<input type="text" name="num3" id="num3">
</div>

<br>

<div class="container" my-10>
    <label class="col-sm-3 col-form-label">Date</label>
          <input class="col-sm-1" type="text" name="num4" id="num4">
          <input class="col-sm-1" type="text" name="num5" id="num5">
          <input class="col-sm-1" type="text" name="num6" id="num6">
</div>
<div class="container" my-2>


      <input type="submit" size="50"/>
    </a>

  </div>
  <br>
<br>


<div class="container" my-2>
<a href="http://127.0.0.1:8000/front_page_pdf" target="_blank">Click here for the PDF of {{ fruits }}.</a>
</div>
</form>
 

</body>
</html>