<html>
<head>
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}
    </style>
</style>
</head>
<body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<hr>
  <p style="color: #00CED1; font: 25px Arial, sans-serif; text-decoration: underline; font-weight: bold;"> PROJECT : {{ a1 }} </p>
<hr>

<p style="font: 20px Arial, sans-serif; font-weight: bold;">STRUCTURAL CALCULATION</p>
<P style="font: 20px Arial, sans-serif; font-weight: bold;">FOR</P>
<P style="font: 20px Arial, sans-serif; font-weight: bold;">{{ a2 }}</P>
</br>

<P style="font: 20px Arial, sans-serif; font-weight: bold;">REV - {{ a3 }}</P>
<P style="font: 20px Arial, sans-serif; font-weight: bold;">DATE : {{ a4 }} - {{ a5 }} - {{ a6 }}</P>
</br>
<p style="font: 20px Arial, sans-serif; font-weight: bold; text-decoration: underline;">Consultant's comments / Approval         Approval status</p>
<hr>

<p style="font: 20px Arial, sans-serif; font-weight: bold; text-align: right;">Approved</p>
<p style="font: 20px Arial, sans-serif; font-weight: bold; text-align: right;">Approved as Noted</p>
<p style="font: 20px Arial, sans-serif; font-weight: bold; text-align: right;">Not Approved</p>
<p style="font: 20px Arial, sans-serif; font-weight: bold; text-align: right;">Rejected</p>
</br>
</br>
</br>
</br>
<hr>

</body>
</html>