<html>
<head>
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}


</style>
</head>

<br>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">LINUX TERMINAL</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">bc</td>
    <td style=" text-align: left;">To launch calculator</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">pwd</td>
    <td style=" text-align: left;">Present working directory</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">whatis, man, --help, apropos</td>
    <td style=" text-align: left;">To get help</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">cat, less, head, tail and nl</td>
    <td style=" text-align: left;">To display files on the terminal</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">cp exsitingfilename newfilename</td>
    <td style=" text-align: left;">To copy files.</td>
  </tr>
  <tr style="height: 60px;">
    <td style="width: 50%">mv source destination</td>
    <td style=" text-align: left;">To move file from one folder to another</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">mv oldfilename newfilename</td>
    <td style=" text-align: left;">To rename file</td>
  </tr>


  <tr style="height: 40px;">
    <td style="width: 50%">rm filename</td>
    <td style=" text-align: left;">To delete file</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">rmdir dirname</td>
    <td style=" text-align: left;">To delete folder</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">rmdir -r</td>
    <td style=" text-align: left;">To delete folder and its content</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo useradd -m Swikrut</td>
    <td style=" text-align: left;">To create user</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo passwd Swikrut</td>
    <td style=" text-align: left;">To update the password</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo groupadd training</td>
    <td style=" text-align: left;">To add group</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo usermod -a -G training Swikrut</td>
    <td style=" text-align: left;">To add user in the group</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">chmod o+w</td>
    <td style=" text-align: left;">write permission to others</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">chmod +w</td>
    <td style=" text-align: left;">To give write permission to all</td>
  </tr>
  <tr style="height: 80px;">
    <td style="width: 50%">o, g, u used for owner, group and user</td>
    <td style=" text-align: left;">r, w & x used for read, write and execute</td>
  </tr>

</table>
<hr>
</br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">VIM EDITOR</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">i</td>
    <td style=" text-align: left;">insert</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">:w</td>
    <td style=" text-align: left;">save</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">:q!</td>
    <td style=" text-align: left;">quit without saving</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">:wq</td>
    <td style=" text-align: left;">save & quit</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">:w!</td>
    <td style=" text-align: left;">save as</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">cc</td>
    <td style=" text-align: left;">copy</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">dd</td>
    <td style=" text-align: left;">cut and delete</td>
  </tr>
    <tr style="height: 40px;">
    <td style="width: 50%">p</td>
    <td style=" text-align: left;">paste</td>
  </tr>
    <tr style="height: 40px;">
    <td style="width: 50%">u</td>
    <td style=" text-align: left;">undo</td>
  </tr>
</table>
<hr>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">COMMAND LINE REDIRECTION</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 80px;">
    <td style="width: 50%">></td>
    <td style=" text-align: left;">writes the output of the command to the file instead of the terminal</td>
  </tr>
  <tr style="height: 80px;">
    <td style="width: 50%">>></td>
    <td style=" text-align: left;">operator append the contents to the end of the file</td>
  </tr>
</table>
<hr>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">USER, GROUPS AND PERMISSION</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">sudo adduser -m jane</td>
    <td style=" text-align: left;">To add user</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo passwd jane</td>
    <td style=" text-align: left;">To update jane password</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo group add training</td>
    <td style=" text-align: left;">To add group</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">sudo usermod -a -G training jane</td>
    <td style=" text-align: left;">save & quit</td>
  </tr>
  </table>
  <hr>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">MIS COMMANDS</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">wc with -l -w -c</td>
    <td style=" text-align: left;">for word counts</td>
  </tr>
  <tr style="height: 60px;">
    <td style="width: 50%">touch</td>
    <td style=" text-align: left;">for update timestamp and create new file</td>
  </tr>
  <tr style="height: 60px;">
    <td style="width: 50%">ls with -a -h -i </td>
    <td style=" text-align: left;">hidden files, size in kylobites and inode numbers</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">hostname </td>
    <td style=" text-align: left;">to get hostname.</td>
  </tr>
    <tr style="height: 40px;">
    <td style="width: 50%">uname</td>
    <td style=" text-align: left;">To get name of the operating system</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">history</td>
    <td style=" text-align: left;">To get commands used in the history</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">shutdown</td>
    <td style=" text-align: left;">To shut down</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">find</td>
    <td style=" text-align: left;">To search file</td>
  </tr>
    <tr style="height: 40px;">
    <td style="width: 50%">-type f</td>
    <td style=" text-align: left;">To searching for files</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">-type d</td>
    <td style=" text-align: left;">To search for directories</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">-perm</td>
    <td style=" text-align: left;">To get the permission</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">|</td>
    <td style=" text-align: left;">To connect two commands</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">grep</td>
    <td style=" text-align: left;">To search text in the file</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">grep -n</td>
    <td style=" text-align: left;">To search text with the line number</td>
  </tr>
    <tr style="height: 60px;">
    <td style="width: 50%">grep -i</td>
    <td style=" text-align: left;">To search text without bothering the case</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">TAR</td>
    <td style=" text-align: left;">To archieve files.</td>
  </tr>
  <tr style="height: 60px;">
    <td style="width: 50%">echo</td>
    <td style=" text-align: left;">To display the text and value of the variable</td>
  </tr>
</table>
<hr>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">PROCESSES</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">PID</td>
    <td style=" text-align: left;">To get the process ID</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">ps</td>
    <td style=" text-align: left;">To get the process status</td>
  </tr>
</table>
<hr>
<br>
<br>
<br>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">LINUX SIGNALS</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
    <tr style="height: 100px; background-color: palevioletred;">
    <td style=" text-align: left; width: 25%;">Signal</td>
    <td style=" text-align: left; width: 25%;">can be sent from keyboard?</td>
    <td style=" text-align: left; width: 25%;">can be ignored?</td>
    <td style=" text-align: left; width: 25%;">Default action</td>
  </tr>
  <tr style="height: 100px;">
    <td style=" text-align: left; width: 25%;">SIGTERM</td>
    <td style=" text-align: left; width: 25%;">No</td>
    <td style=" text-align: left; width: 25%;">Yes</td>
    <td style=" text-align: left; width: 25%;">Terminate the process</td>
  </tr>
  <tr style="height: 100px;">
    <td style=" text-align: left; width: 25%;">SIGINT</td>
    <td style=" text-align: left; width: 25%;">ctrl+c</td>
    <td style=" text-align: left; width: 25%;">Yes</td>
    <td style=" text-align: left; width: 25%;">Terminate the process</td>
  </tr>
  <tr style="height: 100px;">
    <td style=" text-align: left; width: 25%;">SIGKILL/td>
    <td style=" text-align: left; width: 25%;">No</td>
    <td style=" text-align: left; width: 25%;">No</td>
    <td style=" text-align: left; width: 25%;">Terminate the process</td>
  </tr>
  <tr style="height: 100px;">
    <td style=" text-align: left; width: 25%;">SIGSTOP</td>
    <td style=" text-align: left; width: 25%;">ctrl+z</td>
    <td style=" text-align: left; width: 25%;">No</td>
    <td style=" text-align: left; width: 25%;">put in "stop" state</td>
  </tr>
  <tr style="height: 100px;">
    <td style=" text-align: left; width: 25%;">SIGCONT</td>
    <td style=" text-align: left; width: 25%;">No</td>
    <td style=" text-align: left; width: 25%;">Yes</td>
    <td style=" text-align: left; width: 25%;">Continue a process</td>
  </tr>


  </table>

<hr>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">GIT</p>
<hr>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">git commit</td>
    <td style=" text-align: left;">Commit files to reposatory</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">ps</td>
    <td style=" text-align: left;">To get the process status</td>
  </tr>
</table>
<hr>











<style>
table {
  font-size: 16px;
}

div.numer {
  border-bottom:1px solid;
  text-align:center;
  font-size: 0.8em;
}

div.denom {
  font-size: 0.8em;
  border-top: 1px solid;
  text-align: center;
  padding-top: 10px;
}
  </style>
</head>
<body>
  
<table>
<tr><td>Substitute 4 for 'x' in the equation: &nbsp;</td>
 <td style="width: 30%">
    <div class="numer" >x<sup>2</sup> + 3x + 5</div>
    <div class="denom">2x</div> for the value of x
  </td>
</tr>
</table>
</body>
</html>