<html>
<head>
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}


</style>
</head>

<br>
<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">Dead Load of the glass</p>
<hr>

<p style="font: 20px Arial, sans-serif; font-weight: bold;">Panel size {{ a3 }} x {{ a4 }} m</p>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">Width of the glass :</td>
    <td style=" text-align: left;">w = {{ a3 }} <b style="color: blue;">m</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Height of the glass :</td>
    <td style=" text-align: left;">h = {{ a4 }} <b style="color: blue;">m</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Glass thickness :</td>
    <td style=" text-align: left;">t = {{ a5 }} <b style="color: blue;">m</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Glass type: </td>
    <td style=" text-align: left;"> {{ a10 }}</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Density of the glass :</td>
    <td style=" text-align: left;">&#961;<sub>g</sub> = {{ a7 }} <b style="color: blue;">kN/m<sup>3</sup></b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Dead load :</td>
    <td style=" text-align: left;">dl = w x h x t x &#961;<sub>g</sub> = {{ a8 }} <b style="color: blue;">kN</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Dead load on the setting block :</td>
    <td style=" text-align: left;">Dl = dl / 2 = {{ a9 }} <b style="color: blue;">kN</b></td>
  </tr>

</table>
</br>

<hr>


<p style="font: 20px Arial, sans-serif; font-weight: bold;">Panel size {{ a11 }} x {{ a12 }} m</p>
<table style="font: 15px Arial, sans-serif; width: 100%">
  <tr style="height: 40px;">
    <td style="width: 50%">Width of the glass :</td>
    <td style=" text-align: left;">w = {{ a11 }} <b style="color: blue;">m</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Height of the glass :</td>
    <td style=" text-align: left;">h = {{ a12 }} <b style="color: blue;">m</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Glass thickness :</td>
    <td style=" text-align: left;">t = {{ a13 }} <b style="color: blue;">m</b></td>
  </tr>
  <tr style="height: 100px;">
    <td style="width: 50%">Glass type: </td>
    <td style=" text-align: left;"> {{ a14 }}</td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Density of the glass :</td>
    <td style=" text-align: left;">&#961;<sub>g</sub> = {{ a7 }} <b style="color: blue;">kN/m<sup>3</sup></b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Dead load :</td>
    <td style=" text-align: left;">dl = w x h x t x &#961;<sub>g</sub> = {{ a15 }} <b style="color: blue;">kN</b></td>
  </tr>
  <tr style="height: 40px;">
    <td style="width: 50%">Dead load on the setting block :</td>
    <td style=" text-align: left;">Dl = dl / 2 = {{ a17 }} <b style="color: blue;">kN</b></td>
  </tr>

</table>
<hr>


<style>
table {
  font-size: 16px;
}

div.numer {
  border-bottom:1px solid;
  text-align:center;
  font-size: 0.8em;
}

div.denom {
  font-size: 0.8em;
  border-top: 1px solid;
  text-align: center;
  padding-top: 10px;
}
  </style>
</head>
<body>
  
<table>
<tr><td>Substitute 4 for 'x' in the equation: &nbsp;</td>
 <td style="width: 30%">
    <div class="numer" >x<sup>2</sup> + 3x + 5</div>
    <div class="denom">2x</div> for the value of x
  </td>
</tr>
</table>
</body>
</html>