<html>
<head>
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
    </style>
</style>
</head>
<body style="font: 20px Arial, sans-serif;">
<br>
  <p style="color: #00CED1; font: 20px Arial, sans-serif; font-weight: bold;">STANDARDS AND SOFTWARE REFERENCES</p>
<hr>

<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">Standard references</p>
<p style=" font: 16px Arial, sans-serif;">1. Dead, Live and Wind load</p>
<p style="margin-left: 50px; font: 13px Arial, sans-serif;">IS 875 - PART 2 : 1987, Code practice for dead and imposed load </p>

<p style="margin-left: 50px; font: 13px Arial, sans-serif;">IS 875 - PART 3 :1987, Code of practice for Wind load</p>

<p style="margin-left: 50px; font: 13px Arial, sans-serif;">IS 1893 : PART 1 : 2002, Criteria for Earthquake Resistance Design </p>

<p style=" font: 16px Arial, sans-serif;">2. Mild steel</p>
<p style="margin-left: 50px; font: 13px Arial, sans-serif;">IS 800 : 2007, General construcon in steel - Code of practice.</p>

<p style="margin-left: 50px; font: 13px Arial, sans-serif;">IS 801 - 1976, Cold-formed Light Gauge steel </p>

<p style=" font: 16px Arial, sans-serif;">3. Aluminum</p>
<p style="margin-left: 50px; font: 13px Arial, sans-serif;">IS 8147 : 1976, Design of Aluminum structures</p>

<p style="font: 16px Arial, sans-serif;">4. Glass</p>
<p style="margin-left: 50px; font: 13px Arial, sans-serif;">ASTM E - 1300 : 2004, Standard practice for Determining Load resistance of Glass in building</p>


<p style="margin-left: 50px; font: 13px Arial, sans-serif;">AS 1288 : 2006, Glass in building - selection and installation</p>
<hr>




<p style="color: #D06EE1; font-weight: bold; font: 20px Arial, sans-serif;">Soware references</p>
<p style="margin-left: 50px; font: 13px Arial, sans-serif;">Structural Analysis</p>
<p style="margin-left: 100px; font: 13px Arial, sans-serif;">Staad Pro - 2007</p>
<p style="margin-left: 50px; font: 13px Arial, sans-serif;">Anchor bolt</p>
<p style="margin-left: 100px; font: 13px Arial, sans-serif;">Profis Engineering</p>

<p style="margin-left: 50px; font: 13px Arial, sans-serif;">Glass </p>
<p style="margin-left: 100px; font: 13px Arial, sans-serif;">Mepla</p>
<hr>


</body>
</html>