<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Structfacade.com</title>
    <link rel = "icon" href = 
"{% static 'structfacade/img/logo.jpeg' %}"
        type = "image/x-icon">
          
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <img style="height: 50px; width: 80px" src="{% static 'structfacade/img/logo.jpeg' %}" alt="logo" />
  <a class="navbar-brand font-weight-bold text-uppercase" href="https://www.struct.website/" style="font-size: 20px; font-family: Calibri, sans-serif">Struct Facade LLP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav font-weight-bold" style="font-size: 20px; font-family: Calibri, sans-serif">
      <li class="nav-item active ">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/aboutus">About us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Fabrication</a>
          <a class="dropdown-item" href="#">Structural calculation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
      </li>
    </ul>
  </div>
  <hr>

</nav>
<br>
<br>
<div class="container text-capitalize" my-2>
  <h3 style="font-family: Calibri, sans-serif; font-weight: bold; color: slategray;">Services</h3>
 </div>
<hr>

<br>
<br>
<br>
<div class="container" my-2>
  <p style="font-family: Calibri, sans-serif; font-weight: bold; color: slategray; font-size: 30px;">Cladding</p>
<br>

<div class="container" my-2>
  <div class="row">
    <div>
      <img src="{% static 'structfacade/img/voyage-acp.JPG' %}" style="width: auto; height: 195px;">
    </div>
<br>
<br>
    <div>
      <p style="font-family: Calibri, sans-serif; font-weight: bold; font-size: 20px; margin-right: 200px">Aluminum Cladding Panels, High-Pressure Laminate, Terracotta Tiles, Zinc, Porcelain Tiles, Solid Aluminium  </p>
    </div>
  </div>
</div>
</div>

<br>
<br>
<br>

<div class="container" my-2>
  <p style="font-family: Calibri, sans-serif; font-weight: bold; color: slategray; font-size: 30px;">Glazing</p>
<br>

<div class="container" my-2>
  <div class="row">
    <div>
      <img src="{% static 'structfacade/img/Aluminum-Curtain-Wall.JPG' %}" style="width: auto; height: 195px;">
    </div>
<br>
<br>
    <div>
      <p style="font-family: Calibri, sans-serif; font-weight: bold; font-size: 20px; margin-right: 200px">Unitised Glazing, Semi Unitised Glazing, Toggle Glazing, Spider Glazing, Curtain Wall, Tension Cable/ Rod Glazing</p>
    </div>
  </div>
</div>
</div>
<br>
<br>
<div class="container" my-2>
  <p style="font-family: Calibri, sans-serif; font-weight: bold; color: slategray; font-size: 30px;">Doors and Windows</p>
<div class="container" my-2>
  <div class="row">
    <div>
      <img src="{% static 'structfacade/img/window.JPG' %}" style="width: auto; height: 195px;">
    </div>
<br>
<br>
    <div>
      <p style="font-family: Calibri, sans-serif; font-weight: bold; font-size: 20px; margin-right: 200px">Sliding Windows with inbuilt railing, Slimline Windows, Casement Windows, Ventilators, Lift and Slide, Fix Doors and Windows, Patch Fixed, Auto Sliding Door </p>
    </div>
  </div>
</div>
</div>

<br>
<br>
<div class="container" my-2>
  <p style="font-family: Calibri, sans-serif; font-weight: bold; color: slategray; font-size: 30px;">Railings</p>
<div class="container" my-2>
  <div class="row">
    <div>
      <img src="{% static 'structfacade/img/railing.JPeG' %}" style="width: auto; height: 195px;">
    </div>
<br>
<br>
    <div>
      <p style="font-family: Calibri, sans-serif; font-weight: bold; font-size: 20px; margin-right: 200px">SS Railing, MS Railing, Free Standing Railing</p>
    </div>
  </div>
</div>
</div>

<br>
<br>

<div class="container" my-2>
  <p style="font-family: Calibri, sans-serif; font-weight: bold; color: slategray; font-size: 30px;">Skylights and Canopy</p>
<div class="container" my-2>
  <div class="row">
    <div>
      <img src="{% static 'structfacade/img/skylight.JPG' %}" style="width: auto; height: 195px;">
    </div>
<br>
<br>
    <div>
      <p style="font-family: Calibri, sans-serif; font-weight: bold; font-size: 20px; margin-right: 200px">Spider Canopies, Curtain Wall Canopies, Aluminum Framed Skylights, Spider Fitted Sky Lights  </p>
    </div>
  </div>
</div>
</div>
<br>
<br>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #E0FFFF;" >

  <!-- Footer Links -->
  <div class="container container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">struct facade LLP</h5>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-5 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contact US</h5>

        <ul class="list-unstyled">
          <li>
            <p>15A, 4TH FLOOR, CITYVISTA, TOWER A, SUITE NO. 974

FOUNTAIN ROAD, KHARADI, <br>
PUNE – 411014
<br>
PHONE NO. : +919699099892
<br>
EMAIL ADDRESS : structfacade@structfacade.com
<br>
WEBSITE : www.structfacade.com</p>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

 

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="/">Structfacade.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>