

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Struct.website</title>
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.struct.website/">Struct.Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/aboutme">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<div class="container" my-2>
  <h3>Project details</h3>
  <h3></h3></div>
<hr>

<br>
<br>


<form action="project_details">

<div class="container" my-10>
  <input class="col-sm-3" type="text" name="nun1" id="nun1">
  <input class="col-sm-3" type="text" name="nun2" id="nun2">
</div>
<br>

<div class="container" my-10>
  <input class="col-sm-3" type="text" name="nun3" id="nun3">
  <input class="col-sm-3" type="text" name="nun4" id="nun4">
</div>
<br>

<div class="container" my-10>
  <input class="col-sm-3" type="text" name="nun5" id="nun5">
  <input class="col-sm-3" type="text" name="nun6" id="nun6">
</div>
<br>

<div class="container" my-10>
  <input class="col-sm-3" type="text" name="nun7" id="nun7">
  <input class="col-sm-3" type="text" name="nun8" id="nun8">
</div>
<br>

<div class="container" my-10>
  <input class="col-sm-3" type="text" name="nun9" id="nun9">
  <input class="col-sm-3" type="text" name="nun10" id="nun10">
</div>
<br>

<div class="container" my-10>
  <input class="col-sm-3" type="text" name="nun11" id="nun11">
  <input class="col-sm-3" type="text" name="nun12" id="nun12">
</div>
<br>

<div class="container" my-2>


      <input type="submit" size="50"/>
    </a>

  </div>
  <br>
<br>


<div class="container" my-2>
<a href="http://127.0.0.1:8000/project_details_pdf" target="_blank">Click here for the PDF of Prject deatil</a>
</div>
</form>
 

</body>
</html>