<html>
<head>
<style>
body {
  margin-right: 60px;
  margin-left: 60px;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
    </style>
</style>
</head>
<body>
<br>
  <p style="color: #00CED1; font: 30px Arial, sans-serif; font-weight: bold;"> PROJECT DETAILS </p>
<hr>

<table style="font: 15px Arial, sans-serif; font-weight: bold; width: 100%">
  <tr style="height: 100px;">
    <td>{{ a1 }}</td>
    <td>{{ a2 }}</td>
  </tr>
  <tr style="height: 100px;">
    <td>{{ a3 }}</td>
    <td>{{ a4 }}</td>
  </tr>
  <tr style="height: 100px;">
    <td>{{ a5 }}</td>
    <td>{{ a6 }}</td>
  </tr>
  <tr style="height: 100px;">
    <td>{{ a7 }}</td>
    <td>{{ a8 }}</td>
  </tr>
  
  <tr style="height: 100px;">
    <td>{{ a9 }}</td>
    <td>{{ a10 }}</td>
  </tr>
  <tr style="height: 100px;">
    <td>{{ a11 }}</td>
    <td>{{ a12 }}</td>
  </tr>




</table>

</body>
</html>